
body {
    font-family: "Roboto Mono", monospace;
    font-size: medium;
    margin: 0;
    padding: 0;
}

div {
    padding: 3px;
}

.container {
    display: flex;
    max-width: 95%; 
    min-width: 800px; 
    margin: 0 auto; /* Center the container horizontally */
    background-color: #fff; 
}

.left-column {
    flex: 70%;
    background-color: #f2f2f2;
    padding: 20px;
}

.right-column {
    flex: 30%;
    background-color: #e5e5e5;
    padding: 20px;
}

.status-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

.image-container {
    display: flex;
    max-width: 95%; 
    background-color: #96a09b;
    margin: 0 auto; /* Center the container horizontally */
    padding: 40px;
}

.item-type-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; 
    font-size: large;
} 
.item-subtype-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px; 
    font-size: medium;
    color: gray;
} 

.label-level {
    width: 20%; 
}
.label-key {
    width: 15%; 
}
.label-name {
    width: 65%; 
}
.label-level, .label-key, .label-name {
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 0px;
    margin-bottom: 10px;
}

img.observing {
    margin: 0 auto; /* Center horizontally */
}

 /* Minor visual tweaks */
 .seen {
    color: #007a2f;
    font-weight: bold;
}
.unseen {
    color: gray;
    font-weight: normal;
}
