
/* Main elements */

body {
    font-family: "Roboto Mono", monospace;
    font-size: medium;
    margin: 0;
    padding: 0;
}

div {
    padding: 3px;
}

.container {
    display: flex;
    max-width: 1100px; 
    min-width: 800px; 
    margin: 0 auto; /* Center the container horizontally */
    background-color: #fff; 
}

.left-column {
    flex: 75%;
    background-color: #f2f2f2;
    padding: 20px 40px 40px 40px;
}

.right-column {
    flex: 25%;
    padding: 20px;
    background-color: #666472; 
    color:  #b6aee6;
    font-size: small;
}

/* major block elements */

.status-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
}

.graphical-area {
    background-color: #96a09b;
    margin: 0 auto; /* Center the container horizontally */
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.image-container {
    margin: 0 auto; /* Center the container horizontally */
    padding: 40px 60px 20px 40px;
}

div.cmd-indicator {
    height: 30px;
    font-size: large;
    color: darkgreen;
}

.item-type-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; 
    font-size: large;
} 
.item-subtype-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px; 
    font-size: medium;
    color: gray;
} 

/* Minor block elements */

.label-level {
    width: 20%; 
}
.label-key {
    width: 15%; 
}
.label-name {
    width: 65%; 
}
.label-level, .label-key, .label-name {
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 0px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.button {
    display: flex;
    width: 200px;
    height: 30px;
    background-color: lightgray;
    border: none;
    border-radius: 20px;
    padding: 6px;
    margin: 0px 10px 10px 0px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

 /* Minor visual tweaks */

 img.observing {
    margin: 0 auto; /* Center horizontally */
}

.seen {
    color: blue;
    font-weight: bold;
}
.unseen {
    color: gray;
    font-weight: normal;
}

