
/* Main elements */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;  /* prevent scrolling of the web page */
    font-family: "PT Mono", "Noto Sans Mono", "Roboto Mono", "Liberation Mono", "Cascadia Mono", "Consolas", monospace; 
    font-size: medium;
}

div {
    padding: 2px;
}

.container {
    display: flex;
    max-width: 1200px; 
    min-width: 800px; 
    margin: 0 auto; /* Center the container horizontally */
    background-color: #fff; 
}

.left-column {
    flex: 70%;
    background-color: #f2f2f2;
    padding: 10px 20px 10px 20px;
}

.right-column {
    flex: 30%;
    padding: 10px;
    background-color: #666472; 
    color:  #b6aee6;
    font-size: small;
}

/* major block elements */

.status-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

.graphical-area {
    background-color: #b8c5bf;
    margin: 0 auto; /* Center the container horizontally */
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.image-container {
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px 20px 20px 20px;
}

div.cmd-indicator {
    height: 25px;
    font-size: x-large;
    color: darkgreen;
    font-weight: bold;
}

.item-type-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 26px);
    margin-top: 6px;
    margin-bottom: 0px; 
    padding-top: 8px;
    padding-left: 22px;
    border: 2px solid transparent;
    font-size: large;
} 
.item-subtype-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 26px);
    margin-top: 6px;
    margin-bottom: 0px; 
    padding-top: 8px;
    padding-left: 22px;
    border: 2px solid transparent;
    font-size: medium;
    color: gray;
} 
.area_focus {
    border-color: lime;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;    
}


/* Minor block elements */

.label-level {
    width: 20%; 
}
.label-key {
    width: 15%; 
}
.label-name {
    width: 65%; 
}
.label-level, .label-key, .label-name {
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 0px;
    margin-bottom: 10px;
}



.button {
    display: flex;
    font-size: small;
    width: 170px;
    height: 20px;
    background-color: lightgray;
    border: none;
    border-radius: 16px;
    padding: 4px;
    margin: 0px 8px 8px 0px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

 /* Minor visual tweaks */

 img.observing {
    margin: 0 auto; /* Center horizontally */
}

.seen {
    color: blue;
    font-weight: normal;
}
.unseen {
    color: gray;
    font-weight: normal;
}
.labeled {
    color: green;
    font-weight: bold;
}

